<div class="sidenav border-end border-2 border-danger">
  <div class="d-flex justify-content-center">
    <img src="/img/pngegg.png" alt="">
  </div>
  <div class="d-grid mt-4 gap-3">
    <a class="botao-menu" href="/home">
      <mat-icon class="me-2">dashboard</mat-icon>Inicio
    </a>
    <a class="botao-menu" href="/listar-projetos">
      <mat-icon class="me-2">construction</mat-icon>Projetos
    </a>
    <a class="botao-menu" href="/listar-tarefas">
      <mat-icon class="me-2">task</mat-icon>Tarefas
    </a>
    <a class="botao-menu" href="/listar-usuarios">
      <mat-icon class="me-2">groups</mat-icon>Usuários
    </a>
  </div>
</div>